[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-asyncio = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
pyyaml = "*"
coverage = "*"

[packages]
pyyaml = "*"
asyncssh = "*"
docopt = "*"
pytest-cov = "*"
importlib-resources = "*"

[requires]
python_version = "3.8"
